.cart{
    padding: 10px;
    position:relative;
}
.cart-item{
    display: flex;
    padding: 15px;
    margin: 15px;
    position: relative;
}

.amount-btn{
    size: 2px;
    border-radius: 50%;
    width: 30px;
}


.row {
    padding: 15px;
    margin-top: 10px;
    position:relative;
}
.center{
    display: grid;
    text-align: center;
}

