.templateContainer{
    margin: 1% 0;
  }
  .templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
  }
  .templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .templateContainer .template_Container .template{
    background-color: white;
    margin: 30px;
    padding: 0px 20px;
  }
  .templateContainer .template_Container .template img{
    height: 30px;
  }