.navbar-light .navbar-nav .nav-link .nav-active{
    color: rgb(19, 13, 13);
}

/* .container-fluid {
    background-color: rgb(241, 233, 239);
} */

.card-title{
    color: black;
}

.nav-link{
    text-decoration: inherit;
}

.card-body{
    text-align: center;
}